* {
    box-sizing: border-box;
}

.white {
    color: white;
}

.black {
    color: black;
}

.full-width {
    padding:0;
}

.centered {
    padding: 100px max(calc(50% - (1000/16/2 * 1rem)), 4rem);
}

h1 {
    font-size: calc(96/16 * 1rem);
    font-family: Oswald, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

h2 {
    font-size: calc(36/16 * 1rem);
    font-family: Oswald, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    font-size: calc(30/16 * 1rem);
    font-family: Oswald, sans-serif;
    font-weight: 400;
}

h4 {
    font-size: calc(20/16 * 1rem);
    font-family: Oswald, sans-serif;
    font-weight: 300;
}

h5, cite {
    font-size: calc(20/16 * 1rem);
    font-family: 'Courier New', monospace;
    text-transform: uppercase;
    letter-spacing: calc(2/20 * 1em);
}

p, blockquote {
    font-size: calc(14/16 * 1rem);
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

.read-more {
    padding: 10px 30px;
    font-size: calc(14/16 * 1rem);
    font-family: 'Courier New', monospace;
    color: white;
    background-color: #ff5126;
    text-align: center;
    text-transform: uppercase;
}

svg {
    fill: #ff5126;
}


img {
    object-fit: contain;
    overflow: hidden;
    flex-shrink: 1;
}