#section4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
}

#section4 > * {
    background-size: cover;
    background-position: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    justify-content: end;
}

#section4 .left {
    background:  linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),  url("../img/big_ship.jpeg") ;
}


#section4 .middle {
    background:  linear-gradient(to right, rgba(200,185,238, .5), rgba(200,185,238, .5)),  url("../img/roads.jpeg") ;
}

#section4 .right {
    background:  linear-gradient(to right, rgba(255, 81, 38, .5), rgba(255, 81, 38, .5)),  url("../img/fast_train.jpeg");
}

#section4 > * > div {
    height : .5rem;
    background-color: white;
    width : calc(36/16 * 4ch);
}

@media all and (max-width: 700px) {
    #section4 {
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px 500px;
    }
}