#section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

#section3 > h5 {
    text-align: center;
    width: min(95%, 25em);
}

#section3 svg {
    width : calc(60/16 * 1rem);
    flex-shrink: 0;
    flex-grow: 0;
}

#section3 .values-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;

    margin: 3rem;
}

#section3 .company-value {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
}

#section3 .company-value > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
}

@media all and (max-width: 700px) {
    #section3 .values-table {
        grid-template-columns: 1fr;
    }
}