#section1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}

#section1 .left {
    background-image: url("../img/hermes_car.jpeg");
    background-size: cover;
}

#section1 .right {
    max-width: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;

    padding: 1rem 0 2rem 0;
}

#section1 .right h2 {
    font-size: calc(48/16 * 1rem);
}

@media all and (max-width: 800px) {
    #section1 {
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
    }
}