#section8 {
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../img/crossroads.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    justify-content: center;
    align-items:center;
}

#section8 > div {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-gap: 3ch;
}

#section8 img {
    border-radius: 50% 50%;
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 1em;
}

#section8 > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section8 > p {
    width: min(97%, 75ch);
}

@media all and (max-width: 700px) {
    #section8 > div {
        grid-template-columns: 1fr ;
    }
}